body {
  height: auto;
  min-height: 100%;
}

.scroll, .angular-leaflet-map {
  height: 100%;
}

.leaflet-bottom {
  bottom : 10px;
}

.item.item-body p {
  margin-top: 0;
}

.tabs.border-top {
  border-top: 1px solid #ddd !important;
}

.angular-leaflet-map {
  height: 80%;
}

.bottom-menu {
  position: absolute;
  bottom: 0px;
  height: 20%;
  left: 0px;
  right: 0px;
  background-color: #923E99;
  padding-left: 10px;
  padding-right: 10px;
}

.bar-positive {
  background-color: #923E99 !important;
}
